
@{
    ViewBag.Title = "meesage";
}

<div style="height:40vh;">



</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- Sidebar-->
            <nav id="sidebar">
               

                <ul class="list-unstyled components">
                    <p>toletBD</p>
                    <li class="">
                        <a class="fa fa-user" href="/Home/Users">Account</a>

                    </li>
                    <li class="">
                        <a class="fa fa-pencil" href="/Home/userAccount">updateAccount</a>

                    </li>
                    <li>
                        <a class="fa fa-comments" href="/Home/meesage">massage</a>
                    </li>

                    <li>
                        <a class="fa fa-bell"  href="/Home/postAd">postAd</a>
                    </li>
                    <li>
                        <a class="fa fa-level-down" href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="card col-sm-4 " style="overflow:scroll;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Name</h5>
                                </div>
                                <p>Last msg</p>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-8" style="background: #ddd;">
                        <div class="jumbotron m-0 p-0 bg-transparent">
                            <div class="row m-0 p-0 position-relative">
                                <div class="col-12 p-0 m-0 " >
                                    <div class="card border-0 rounded" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01); overflow:hidden; height: 100vh;">

                                        <div class="card-header p-1 bg-light border border-top-0 border-left-0 border-right-0" style="color: rgba(96, 125, 139,1.0);">


                                            <h6 class="float-left" style="margin: 0px; margin-left: 10px;"> Yusuf Bulgurcu <i class="fa fa-check text-primary" title="Onaylanmış Hesap!" aria-hidden="true"></i> </br><small> İstanbul, TR </small></h6>

                                            <div class="dropdown show">

                                                <a id="dropdownMenuLink" data-toggle="dropdown" class="btn btn-sm float-right text-secondary" role="button"><h5><i class="fa fa-ellipsis-h" title="Ayarlar!" aria-hidden="true"></i>&nbsp;</h5></a>

                                                <div class="dropdown-menu dropdown-menu-right border p-0" aria-labelledby="dropdownMenuLink">

                                                    <a class="dropdown-item p-2 text-secondary" href="#"> <i class="fa fa-user m-1" aria-hidden="true"></i> Profile </a>
                                                    <hr class="my-1"></hr>
                                                    <a class="dropdown-item p-2 text-secondary" href="#"> <i class="fa fa-trash m-1" aria-hidden="true"></i> Delete </a>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
                                            <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent" style="overflow-y: auto; height: 100vh;">

                                                <div class="balon1 p-2 m-0 " style="width:100%">

                                                    <a class="float-right" style="background:rgba(26, 242, 222, 0.10); "> Hey there! What's up? </a>


                                                </div>

                                                <div class="balon2 p-2 m-0 position-relative">

                                                    <a class="float-left sohbet2" style="background:rgba(199, 242, 20, 0.10); "> Checking out iOS7 you know.. </a>

                                                </div>



                                            </div>
                                        </div>

                                        l

                                    </div>
                                </div>
                                <div class="">

                                    <form class="m-0 p-0" action="" method="POST" autocomplete="off">

                                        <div class="row m-0 p-0">
                                            <div class="col-10 m-0 p-1">

                                                <input id="text"  class="mw-100 border rounded form-control " type="text" name="text" title="Type a message..." placeholder="Type a message..." required>

                                            </div>
                                            <div class="col-2 m-0 p-1">

                                                <button class="btn btn-outline-secondary rounded border w-100" onclick="" title="Gönder!" style="padding-right: 16px;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>

